*{
    padding: 0;
    margin: 0;
}
.cabeçalho{
    background-image: linear-gradient(#000,#524f4f);
    color: aliceblue;
    display: flex;
    justify-content: space-around;
}
.titulo0{
    font-size: 100;
    color: #2938bd;
    margin: 50px 0;
}
.meucontato{
    justify-content: end;
}
.segundaguerra{
    justify-content: center;
}
.titulo1{
    justify-content: center;
    color: rgb(255, 159, 69);
}
.pedaço1{
    background-color: #524f4f;
}
.p1{
    color: aliceblue;
}
.imagemfrancisco{
    width: 35%;
    margin: 10px 5px;
}
.icons{
    height: 20px;
    margin: 0 10px;
}
